<nav>
  <ul>
    <li class="logo">CookQuest.com</li>
    <li>{{#link-to 'index'}}Go Home{{/link-to}}</li>
    <li>{{#link-to 'all-questions'}}Questions{{/link-to}}</li>
    <li>Best Recipes</li>
  </ul>
</nav>
<div class="wrap">
    {{outlet}}
</div>
