<div class="hero">
  <div class="text">
    <h3>Welcome to</h3>
    <h1>CookQuest</h1>
    <h2>The forum for all things cooking</h2>
    <a href="#page-content"><img class="icon" src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-128.png"></a>
  </div>
</div>
<div id="page-content">
  <h1>Popular Questions</h1>
  <div class="questions">
    {{#each model.questions as |question|}}
    <div class="question-tile">
      {{question-tile question=question}}
    </div>
    {{/each}}
  </div>
  <div class="question-form">
    {{new-question saveQuestion="saveQuestion"}}
  </div>
</div>
